<h1>Hi, <%= @user.slack_user_name %></h1>

<%= form_tag("/profile", method: :put) do %>
  <%= label_tag :epicmix_email, "Your EpicMix email addresss" %>
  <%= text_field_tag :epicmix_email, @user.epicmix_email %><br />

  <%= label_tag :epicmix_password, "Your EpicMix password" %>
  <%= password_field_tag :epicmix_password %><br />

  <div><%= submit_tag %></div>
<% end %>
